@import "tailwindcss";
@plugin "daisyui" {
  themes: coffee --default;
}

@plugin "daisyui/theme" {
  name: "coffee";
  default: true;
  color-scheme: light;
  --color-base-100: oklch(98% 0.01 90);
  --color-base-200: oklch(95% 0.02 90);
  --color-base-300: oklch(90% 0.03 90);
  --color-base-content: oklch(30% 0.02 90);
  --color-primary: oklch(80% 0.08 350);
  --color-primary-content: oklch(25% 0.05 350);
  --color-secondary: oklch(82% 0.07 200);
  --color-secondary-content: oklch(25% 0.05 200);
  --color-accent: oklch(85% 0.08 140);
  --color-accent-content: oklch(25% 0.05 140);
  --radius-box: 1rem;
}